<%- include ('partials/nav') %>

<div class="breadcrumbs">
    <div class="container">
        <a href="/shop">Home</a>
        <i class="fa fa-chevron-right breadcrumb-separator"></i>
        <span>Shop</span>
    </div>
</div>

<div class="products-section container">
    <div class="sidebar">
        <h3 class="mt-3"><!-- todo - Insérer ici le nom de la catégorie --></h3>
    </div>

    <div>
        <div class="products text-center">

            <!-- todo - Dynamiser cette liste -->

            <% category.products.forEach(product => { %>    
                <% if (product) { %>
                    <div class="product">
                        <a href="/product/<%= product.id %>">
                            <img src="<%= product.image %>" alt="<%= product.title %>" />
                        </a>
                        <a href="/product/<%= product.id %>">
                            <div class="product-name"><%= product.title %></div>
                        </a>
                        <div class="product-price"><%= product.price %> €</div>
                        
                    </div>
                <% } else {%>
                    <p class="ms-2">Nous sommes désolés, nous n'avons actuellement aucun produit dans cette catégorie.</p>
                <% } %>
            <% }) %>

        </div>
    </div>
</div>

<% include ('partials/foot') %>
