<%- include ('./partials/head') %> <%- include('./partials/header') %>

<div class="featured-section">
    <div class="container">
        <h1 class="text-center">Ecommerce</h1>

        <p class="section-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore
            vitae nisi, consequuntur illum dolores cumque pariatur quis
            provident deleniti nesciunt officia est reprehenderit sunt aliquid
            possimus temporibus enim eum hic.
        </p>

        <div class="text-center button-container">
            <a href="#!" class="button"> Featured </a>
            <a href="#!" class="button"> On Sale </a>
        </div>

        <div class="products text-center">
            <% products.forEach(product => { %>
                <div class="product">
                    <a href="/product/<%= product.id %>">
                        <img src="<%= product.image %>" alt="<%= product.title %>" />
                    </a>
                    <a href="/product/<%= product.id %>">
                        <div class="product-name"><%= product.title %></div>
                    </a>
                    <div class="product-price"><%= product.price %> €</div>
                </div>

            <% }) %>
        </div>

        <div class="text-center button-container">
            <a href="/shop" class="button"> View more products </a>
        </div>
    </div>
</div>

<%- include ('./partials/foot') %>
