<%- include ('partials/nav') %>

<div class="breadcrumbs">
    <div class="container">
        <a href="/shop">Home</a>
        <i class="fa fa-chevron-right breadcrumb-separator"></i>
        <span>Shop</span>
    </div>
</div>

<div class="products-section container">
    <div class="sidebar">

        <h3 class="mt-3">Les catégories</h3>

        <ul>
            <!-- todo - Dynamiser cette liste -->
            <% categories.forEach(category => { %>
                <li>
                    <a href="/category/<%= category.id %>"> <%= category.name %></a>
                </li>
            <% }) %>
        </ul>
    </div>

    <div>
        <div class="products text-center">

            <!-- todo - dynamiser cette liste -->
            <% products.forEach(product => { %>
                <div class="product">
                    <a href="/product/<%= product.id %>">
                        <img src="<%= product.image %>" alt="<%= product.title %>" />
                    </a>
                    <a href="/product/<%= product.id %>">
                        <div class="product-name"><%= product.title %></div>
                    </a>
                    <div class="product-price"><%= product.price %> €</div>
                </div>

            <% }) %>

        </div>
    </div>
</div>

<% include ('partials/foot') %>
